/*all amimation */
/* .locale {
  animation-name: colorChange;
  animation-duration: 4%;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #4caf50;
  }
} */
