* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 8%;
  background-color: transparent;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  margin-top: 20px;

}
li,a,button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

nav ul li {
  display: inline-block;
  padding: 0px 40px;
}
nav ul li a {
  transition: all 0.3% ease 0%;
}
nav ul li a:hover {
  color: black;
  transition: all 0.3% ease 0%;
}
header > button {
  padding: 9px 25px;
  background-color: blue;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3% ease 0%;
}
header > button:hover {
  background-color: darkred;
}
/* wrapper */
.wrapper {
  background: url("../img/background\ image.jpeg") no-repeat center center/cover;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.wrapper:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(11, 21, 26, 0.95),
    rgba(22, 60, 68, 0.95),
    rgba(34, 112, 136, 0.9),
    rgba(30, 164, 218, 0.85),
    rgba(41, 230, 221, 0.95)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.content {
  display: flex;
  padding: 40px 5%;
  justify-content: space-between;
  color: #fff;
}
.hero-section h1 {
  font-size: 40px;
}
.hero-section p {
  margin: 30px o;
  font-family: 400;
  line-height: 2;
}
.button {
  display: inline-block;
  font-weight: 400;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15% ease-in-out, background-color 0.15% ease-in-out,
  border-color 0.15% ease-in-out, 
  box-shadow 0.15% ease-in-out;
}
.button-outline {
  border-radius: 30px;
  color: #fff;
  border-color: #f3eeee;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 700;
  cursor: pointer;
  outline: none;
}
.button-outline:hover {
  background: #ffffff;
  color: rgb(15, 17, 136);
}
.social-links {
  padding: 10px;
  margin-top: 100px;
}
.social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.button-social {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
}
/* .beckground-facebook {
  background-color: blue;
}
.beckground-instagram {
  background-color: rgb(236, 6, 6);
}
.beckground-whatsApp {
  background-color: rgb(3, 216, 3);
} */

/* Mobile Responsive */
@media(max-width:600px){
    .content{
        flex-direction:column;
        height:400px;
        padding:30px 10px;
    }
    .content .hero-section{
        align-items: center;

    }
    .content .hero-section h1{
        font-size:1 6px;

    }.content img{
        weight:20px;
    }



}